@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: skyblue;

}
.container {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    min-height: 60vh;
}
.container h1 {
    width: 70vw;
    padding: 15px;
    border: 10px solid black;
    background-color: white;
    text-align: center;
}
#result {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}
.options-container {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.option {
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    padding: 2px;
    margin: 1px;
}

.results-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    background-color: green;
    color: white;
    padding-top: 40px;
    border-top: 5px solid black;
    bottom: 0;
    min-height: 30vh;
}
.choices {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
.choices img {
    margin-top: 10px;
}

#result button {
    padding: 10px;
    background-color: white;
    border: 5px solid black;
    font-size: 15px;
    margin-top: 20px;
}


#userChoice, #computerChoice {
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 10px;
}

#scores {
    margin-top: 20px;
}
.mute-button {
    background-color: white;
    width: fit-content;
    cursor: pointer;
    border-radius: 3rem;
    float: right;
    margin:15px;
    margin-top: 40px;
}
@media screen and (max-width: 690px) {
    .container h1 {
        width: inherit;
    }
    .options-container {
        justify-content: center;
        width: 80vw;
    }
    .option {
        width:25vw;
        text-align: center;
    }
    .option img {
        width: 50px;
    }
    .mute-button img {
        width: 30px;
        height: 30px;
    }
    #result {
        font-size: 8px;
    }
}
